<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <form (ngSubmit)="createPost()" [formGroup]="createForm">
          <fieldset class="form-group">
            <input
              formControlName="title"
              class="form-control form-control-lg"
              type="text"
              placeholder="Post Title"
            />
            <div *ngIf="createForm.controls.title.invalid && createForm.controls.title.errors">
              <span *ngIf="createForm.controls.title.errors['required']">請輸入標題</span>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <textarea
              formControlName="description"
              class="form-control"
              rows="3"
              placeholder="Description"
            ></textarea>
          </fieldset>
          <fieldset class="form-group">
            <textarea
              formControlName="body"
              class="form-control"
              rows="8"
              placeholder="Post body"
            ></textarea>
            <div *ngIf="createForm.controls.body.invalid && createForm.controls.body.errors">
              <span *ngIf="createForm.controls.body.errors['required']">請輸入內文</span>
              <span *ngIf="createForm.controls.body.errors['minlength']">內文長度不合</span>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <input #mTag class="form-control" type="text" placeholder="Enter tags"
              (keyup.enter)="addTag(mTag.value)"
              (keyup.enter)="mTag.value = ''" />
            <div class="tag-list">
              <span class="label label-pill label-default" *ngFor="let tag of createForm.controls.tags.value; let i = index">
                <i class="ion-close-round" (click)="removeTag(i)"></i> {{ tag }}</span
              >
            </div>
          </fieldset>
          <button type="submit" class="btn btn-lg btn-primary pull-xs-right" [disabled]="createForm.invalid">
            Create Post
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
